---
layout: main
---

<div class="container-fluid index">
    <div class="row">
        <div class="content-panel">
            <div class="gravatar">
                <img src="{{ '/images/profile_512.jpg' | prepend: site.assetsurl }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                <p>I'm a developer and educator. Speaking about Unity and AR at conferences and workshops. I love figuring out ways to use technology to create new and interesting experiences.</p>
                <p>While you're here, checkout my <a href="{{ '/projects' | prepend: site.baseurl }}">projects</a>, <a href="{{ '/blog/index.html' | prepend: site.baseurl }}">blog</a> or <a href="https://sketchfab.com/john.sietsma/models">photogrammetry models</a></p>
            </div>

            {% include social_links.html %}
          </div>
          <div class="content-panel">

            <div class="articles">

              <h2>Latest Posts</h2>

              <ul>
                  {% for post in site.posts | limit: site.recent_posts_num %}
                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/blog/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>

    </div>
</div>

{% include threejs.html %}
{% include shaders/repeat.vert %}
{% include shaders/circleFlow.frag %}

<script>
    // Thanks for the background image: https://www.flickr.com/photos/webtreatsetc/5213654617
    
var flowMap = new THREE.TextureLoader().load('{{ site.assetsurl }}/images/textures/flowMap.png');
var waterTexture = new THREE.TextureLoader().load('{{ site.assetsurl }}/images/textures/maze.jpg');
waterTexture.wrapS = waterTexture.wrapT = THREE.RepeatWrapping;
//waterTexture.repeat.set( 10, 10 );

function initCanvas_FlowMap( threeContext )
{
    threeContext.uniforms = {
        time: { type: "f", value: 1.0 },
        texture: { type: "t", value: waterTexture },
        texRepeat: { type: "v2", value: new THREE.Vector2(1,1) },
        flowMap: { type: "t", value: flowMap },
        flowSpeed: { type: "f", value: 3 },
        cycleTime: { type: "f", value: 40 },
    };
    
    threeContext.initFullScreenCanvas( 'passthroughVert', 'circleFlowFrag', true );
    
    var color = new THREE.Color( 0x043A61 );
    var plane = threeContext.scene.getObjectByName("FullScreenQuad");
    console.assert(plane);
    setVertColors( plane.geometry, color );

}

var flowContext = new ThreeContext( "background", initCanvas_FlowMap );
flowContext.render();
</script>

