---
layout: default
title: John Sietsma
---


<section id="projects" class="projects">
    <h2>Projects</h2>
        <div class="row neg-margin">
            {% assign sorted_pages = site.pages | sort:"order" %}
            {% for page in sorted_pages %}
            {% if page.categories contains 'project' %}
            <a href="{{ page.url }}">
                <div class="col-md-4">
                    <div class="project greyscale" style="background-image: url( {{ page.splash | prepend: site.assetsurl }} );">
                        {{ page.title }}
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %} <!-- page -->
        </div>
</section>
