---
layout: default
title: John Sietsma
---


<section id="projects" class="projects">
        <div class="row">
            <h2 class="col-md-12">Projects</h2>
        </div>
        <div class="row">
            {% assign sorted_pages = site.pages | sort:"date" reversed %}
            {% for page in sorted_pages %}
            {% if page.categories contains 'project' %}
            <a href="{{ page.url }}">
                <div class="col-md-4">
                    <div class="project-square greyscale" style="background-image: url( {{ page.splash | prepend: site.assetsurl }} );">
                        {{ page.title }}
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %} <!-- page -->
        </div>
</section>
