<nav class="header">
  <div class="container clearfix">
  <div class="row">
    <div class="col-xs-6">
      <ul class="pages" >
        <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="{{ site.baseurl }}/projects/"><i class="fa fa-cogs"></i>Projects</a></li>
        <li><a href="{{ site.baseurl }}/blog/index.html"><i class="fa fa-rss"></i> Blog</a></li>
      </ul>
    </div>
    <div class="col-xs-6">
      {% include social_links.html %}
    </div>
  </div>
  </div>
</nav>
