<ul class="links">
    <li><a href="https://au.linkedin.com/in/jsietsma"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://twitter.com/JohnSietsma"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://github.com/notoes/"><i class="fa fa-github"></i></a></li>
    <li><a href="http://steamcommunity.com/id/NoToes/"><i class="fa fa-steam-square"></i></a></li>
    <li><a href="mailto:john.sietsma@gmail.com"><i class="fa fa-envelope"></i></a></li>
    <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a></li>
</ul>
