<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>
<script src="{{ '/js/Detector.js'' | prepend: site.assetsurl }}"></script>



<script type="x-shader/x-fragment" id="magentaFragmentShader">
    void main()
    {
        gl_FragColor = vec4(1.0,0.0,1.0,1.0);
    }
</script>

{% include shaders/defaultVert.html %}

<script>
function initFullScreenCanvas( threeContext, vertShaderName, fragShaderName )
{
    var size = threeContext.size;
    var halfSize = size/2;

    // Setup camera
    threeContext.camera = new THREE.OrthographicCamera( -halfSize, halfSize, halfSize, -halfSize, -1, 1000 );
    threeContext.camera.position.z = 1;
    
    // Add the full screen quad
    var planeGeo = new THREE.PlaneGeometry( size, size, 4, 4 );
        
    threeContext.uniforms.texture.value.wrapS = threeContext.uniforms.texture.value.wrapT = THREE.RepeatWrapping;
    threeContext.uniforms.flowMap.value.wrapS = threeContext.uniforms.flowMap.value.wrapT = THREE.RepeatWrapping;
    
    // Create the material
    var vShader = document.getElementById( vertShaderName );
    var fShader = document.getElementById( fragShaderName );
    var shaderMaterial = new THREE.ShaderMaterial({
        uniforms: threeContext.uniforms,
        vertexShader: vShader.text,
        fragmentShader: fShader.text,
        vertexColors: THREE.VertexColors,
    }); 
    
    threeContext.plane = new THREE.Mesh( planeGeo, shaderMaterial );
    threeContext.plane.position.z = -10;
        
    threeContext.scene = new THREE.Scene();
    threeContext.scene.add( threeContext.plane );
}
    
function setVertColors( mesh, color )
{
    for ( var i = 0; i < mesh.faces.length; i++ ) 
    {
        var face = mesh.faces[ i ];
        face.vertexColors = [color, color, color];
    }
}

</script>

<script>
"use strict";

if ( ! Detector.webgl ) { Detector.addGetWebGLMessage(); }

var ThreeContext = function( canvasName, initFunction ) 
{
    this.canvas = document.getElementById( canvasName );
    this.renderer = new THREE.WebGLRenderer( {canvas: this.canvas, antialiasing: true } );
    this.uniforms = {};
    this.scene = new THREE.Scene();
    this.camera = null;
    this.clock = new THREE.Clock( true );
    
    this.renderer.setPixelRatio( window.devicePixelRatio );
    this.onWindowResize();
    
    window.onresize = this.onWindowResize.bind(this);
    
    if( initFunction != 'undefined' ) {
        initFunction( this );
    }
    else {
        // Use a default camera
        this.camera = new THREE.PerspectiveCamera( 45, 1, 0.1, 1000 );            
    }
}   

ThreeContext.prototype.onWindowResize = function (event) {
    this.size = [this.canvas.clientWidth, this.canvas.clientHeight]; 
    //this.canvas.height = this.canvas.width = this.size;
    this.renderer.setSize( this.size[0], this.size[1] );
} 

ThreeContext.prototype.render = function () {
    if( !this.camera ) return;
    var self = this;
    requestAnimationFrame( function() { self.render(); } );
    
    if( this.uniforms.time ) 
    {
        this.clock.getDelta(); // Ticks the clock
        this.uniforms.time.value = this.clock.elapsedTime;
    }
        
    this.renderer.render( this.scene, this.camera );
}
  
    
</script>