<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>
<script src="{{ '/js/Detector.js'' | prepend: site.assetsurl }}"></script>

<script type="x-shader/x-vertex" id="defaultVertexShader">
    varying vec2 vUv;
    
    #ifdef USE_COLOR
    varying vec3 vColor;
    #endif
    
    void main()
    {
        vUv = uv;
        
        #ifdef USE_COLOR
        vColor = color;
        #endif
        
        gl_Position = projectionMatrix * modelViewMatrix * vec4(position,1.0);
    }
</script>

<script type="x-shader/x-fragment" id="magentaFragmentShader">
    #ifdef GL_ES
    precision highp float;
    #endif
    
    void main()
    {
        gl_FragColor = vec4(1.0,0.0,1.0,1.0);
    }
</script>

<script>
    "use strict";
    
    if ( ! Detector.webgl ) Detector.addGetWebGLMessage();
    
    var ThreeContext = function( canvasName, initFunction ) 
    {
        this.canvas = document.getElementById( canvasName );
        this.size = this.canvas.clientWidth; // Assuming square canvases for now 
        this.renderer = new THREE.WebGLRenderer( {canvas: this.canvas} );
        this.uniforms = {};
        this.scene = new THREE.Scene();
        this.camera = null;
        
        this.renderer.setPixelRatio( window.devicePixelRatio );
        
        window.addEventListener( 'resize', this.onWindowResize, false );
        
        if( initFunction != 'undefined' ) {
            initFunction( this );
        }
        else {
            this.defaultInit();            
        }
        
        function defaultInit() {
            this.camera = new THREE.PerspectiveCamera( 45, 1, 0.1, 1000 );
        }
        
        function onWindowResize( event ) {
            this.size = this.canvas.clientWidth;
            this.canvas.height = this.canvas.width = this.size;
            
            this.camera.aspect = 1;
            this.camera.updateProjectionMatrix();
        
            this.renderer.setSize( this.size, this.size );
        }
    }  
    
    var clock = new THREE.Clock( true );

    function render(threejsContext) {
        if( !threejsContext.camera ) return;
        requestAnimationFrame( function() { render(threejsContext); } );
        
        clock.getDelta(); // Ticks the clock
        threejsContext.uniforms.time.value = clock.elapsedTime;
        
        threejsContext.renderer.render( threejsContext.scene, threejsContext.camera );
    }
    
    
</script>