<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.js"></script>-->
<script src="{{ '/js/three.r75.js'' | prepend: site.assetsurl }}"></script>
<script src="{{ '/js/Detector.js'' | prepend: site.assetsurl }}"></script>
<script src="{{ '/js/stats.min.js'' | prepend: site.assetsurl }}"></script>

<script type="x-shader/x-fragment" id="magentaFragmentShader">
    void main()
    {
        gl_FragColor = vec4(1.0,0.0,1.0,1.0);
    }
</script>

{% include shaders/passthrough.vert %}

<script>

Object.clone = function(source) {
    var destination = {};
    for (var property in source) {
        if (source.hasOwnProperty(property)) {
            destination[property] = source[property];
        }
    }
    return destination;
};
    
Object.extend = function(destination, source) {
    for (var property in source) {
        if (source.hasOwnProperty(property)) {
            destination[property] = source[property];
        }
    }
    return destination;
};

function createMaterial(vertShaderName, fragShaderName, uniforms, useVertColors)
{
    var vShader = document.getElementById( vertShaderName );
    if( vShader==null ) console.error( "Couldn't find vert shader: " + vertShaderName );
    
    var fShader = document.getElementById( fragShaderName );
    if( fShader==null ) console.error( "Couldn't find frag shader: " + fragShaderName );
    
    return new THREE.ShaderMaterial({
        uniforms: uniforms || {},
        vertexShader: vShader.text,
        fragmentShader: fShader.text,
        vertexColors: useVertColors ? THREE.VertexColors: THREE.NoColors
    });
}
    
function createFullScreenQuad(vertShaderName, fragShaderName, uniforms, useVertColors)
{
    var shaderMaterial = createMaterial(vertShaderName, fragShaderName, uniforms, useVertColors);
    var planeGeo = new THREE.PlaneGeometry( 2, 2, 1, 1 );
    var mesh = new THREE.Mesh( planeGeo, shaderMaterial );
    mesh.name = "FullScreenQuad";
    return mesh;
}

function createFullScreenQuadScene(vertShaderName, fragShaderName, uniforms, useVertColors)
{
    
    var plane = createFullScreenQuad( vertShaderName, fragShaderName, uniforms, useVertColors );
    var scene = new THREE.Scene();
    scene.add(plane);
    return scene;
}
   
    
function setVertColors( mesh, color )
{
    for ( var i = 0; i < mesh.faces.length; i++ ) 
    {
        var face = mesh.faces[ i ];
        face.vertexColors = [color, color, color];
    }
}


</script>

<script>
"use strict";

if ( ! Detector.webgl ) { Detector.addGetWebGLMessage(); }

var ThreeContext = function( canvasName, initFunction, renderFunction ) 
{
    this.canvas = document.getElementById( canvasName );
    this.renderer = new THREE.WebGLRenderer( {canvas: this.canvas, antialiasing: true } );
    this.uniforms = {};
    this.scene = new THREE.Scene();
    this.camera = null;
    this.clock = new THREE.Clock( true );
    this.renderFunction = renderFunction;
    
    
    this.stats = new Stats();
    this.stats.domElement.style.position = 'absolute';
    //this.stats.domElement.style.top = '0px';
    this.canvas.parentNode.appendChild( this.stats.domElement );
    
    this.renderer.setPixelRatio( window.devicePixelRatio );
    this.onWindowResize();
    
    window.onresize = this.onWindowResize.bind(this);
    
    if( initFunction != 'undefined' ) {
        initFunction( this );
    }
    else {
        // Use a default camera
        this.camera = new THREE.PerspectiveCamera( 45, 1, 0.1, 1000 );
    }
}   

ThreeContext.prototype.onWindowResize = function (event) {
    this.size = [this.canvas.clientWidth, this.canvas.clientHeight]; 
    this.renderer.setSize( this.size[0], this.size[1] );
} 

ThreeContext.prototype.initFullScreenCanvas = function( vertShaderName, fragShaderName, useVertColors )
{
    var halfSize = [this.size[0]/2, this.size[1]/2];

    // Setup camera
    this.camera = new THREE.OrthographicCamera( -halfSize[0], halfSize[0], halfSize[1], -halfSize[1], -1, 1000 );
    this.camera.position.z = 1;
    
    var defaultUniforms = {
        time: { type: "f", value: 0.0 },
        timeDelta: { type: "f", value: 0.0 },
    };
    this.uniforms = Object.extend(defaultUniforms, this.uniforms || {});
    this.scene = createFullScreenQuadScene( vertShaderName, fragShaderName, this.uniforms, useVertColors );
}

ThreeContext.prototype.updateDefaultUniforms = function (uniforms)
{
    if( uniforms.timeDelta!=null ) uniforms.timeDelta.value = this.timeDelta;
    if( uniforms.time!=null )  uniforms.time.value = this.clock.elapsedTime;
}

ThreeContext.prototype.render = function () {
    if( !this.camera ) return;
    var self = this;
    requestAnimationFrame( function() { self.render(); } );
    
    this.timeDelta = this.clock.getDelta();
    this.updateDefaultUniforms( this.uniforms );
    
    this.renderer.clear();
    
    if( this.renderFunction != 'undefined' && this.renderFunction != null ) {
        this.renderFunction( this );
    }
        
    this.renderer.render( this.scene, this.camera );
    this.stats.update();
}
  
    
</script>