---
---


/* colours */
$twitter:        #6dabda;
$linkedin:       #2b77b1;
$google-plus:    #c95644;
$github:         #f6c2a4;
$stack-overflow: #c98b3b;
$rss:            #eea33a;
$steam:          #215A6D;
$email:          #3CA2A2;

$darker:         #21211E;
/*$dark:           #2D2D29;*/
$dark:           #3B3B35;
$medium:         #3B3B35;
$light-medium:   #969696;
$dark-blue:      #215A6D;
$light-blue:     #3CA2A2;
$green:          #92C7A3;
$light:          #DFECE6;
$white:          #FFFFFF;
$red:            #C04848;
$orange:         #F07241;

$grandmas_pillow: #C44D58;
$slate: #556270;
$dark_slate: darken($slate, 15%);
$highlight_color: darken(#B6E0CA,40%);
$font_color:darken(#4ECDC4,20%);
$body_color: #D6D0A3;
$border_color: $highlight_color;
$background_color: lighten(#E3D9C5,50%);

/* Responsive sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$strong_font: 1.1em "Droid Sans";
$header_font: 2em "Droid Sans";
$nav_link_font: 0.6em "Droid Sans";
$subheader_font: 1.5em "Droid Sans";
$normal_font: 1.5em "Glegoo";
$small_font: 1em "Glegoo";

@mixin text-shadow($color) {
  text-shadow: -1px -1px 0  $color, 1px -1px 0  $color, -1px 1px 0  $color, 1px 1px 0  $color;
}

/*
 * HTML styles
 */
 
 body {
  font: $normal_font;
  color: $light;
  background-color: $light;
  height: 100%;
  width: 100%;
}

canvas { width: 100%; height: 100% }

cite {
  font-style: italic;
}

hr {
  margin: 0px 0px 20px 0px;
}

strong {
  font: $strong_font;
  font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0px;
}


/*
 * Class styles
 */

.clearfix {
  overflow: auto;
}

.nowrap {
  overflow: auto;
  white-space : nowrap;
  overflow : hidden;
  display : inline-block;
}

.gravatar {
  width: 100%;
  margin-top: -80px;
  text-align: center;
}

.pages {
  li {
    display: inline-block;
    padding-right: 5px;
    .fa {
      padding-right: 3px;
    }
  }
}

.index {
  color: $light;
  text-align: center;
  
  .author-header {
    color: $light-blue;
    margin-top: 0px;
    padding-top: 15px;
    font: $header_font;
  }

  .author-text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .fa {
    color: $light;
    font-size: 24px;
  }
}

.icon {
  color: $highlight_color;
}

code {
  color: black;
}


.content-panel {
  background-color: $medium;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid $light-blue;
}

.header {
  font-size: $header-font;
  background-color: $dark;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  
  .fa {
    padding-left: 0px;
  }

  p {
    margin-bottom: 5px;
  }

  a, a:active {
    color: $white;
  }

  a:hover {
    color: $light-blue;
  }
     
  .pages {
    margin: 0px;
  }
  
  .links {
    text-align: right;
  }
}

.links {
  padding: 0px;
  margin: 0px;
  
  li {
    display: inline-block;
  }

  i {
    padding-left: 5px;
    padding-right: 5px;
  }

  .fa-twitter:hover {
    color: $twitter;
  }

  .fa-linkedin:hover {
    color: $linkedin;
  }

  .fa-google-plus:hover {
    color: $google-plus;
  }

  .fa-github:hover {
    color: $github;
  }

  .fa-stack-overflow:hover {
    color: $stack-overflow;
  }
  
  .fa-steam-square:hover {
    color: $steam;
  }
  
  .fa-envelope:hover {
    color: $email;
  }

  .fa-rss:hover {
    color: $rss;
  }
}


/*
 * Project styles
 */ 

.project-square {
  height: 12em;
  margin: 0px 6px 24px 0px;
  padding-top: 6px;
  padding-left: 6px;
  border-width: medium;
  border-style: solid;
  border-color: $border_color;
  color: $dark_slate;
}

.project {
  color: $light;
}

.project-image {
  overflow:hidden;
  height: 12em;
  margin: 6px 6px 24px 6px;
  padding-top: 6px;
  padding-left: 6px;
  border-width: medium;
  border-style: solid;
  border-color: $border_color;
  color: #FFFFFF;
}

.greyscale {
  filter: grayscale(50%);
  -webkit-filter: grayscale(80%);  /* For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}

.project:hover {
  filter: none;
  -webkit-filter: none;
}

.screen-shot img {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-style: solid;
  border-width: medium;
  border-color: $border_color;
}

.video iframe {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-style: solid;
  border-width: medium;
  border-color: $border_color;
}

/*
 * Blog styles
 */
 
 .blog-header {
  .tags {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    li {
      display: inline-block;
    }
  }
 }
 
.article {
  text-align: center;
  font: $normal_font;
  

  h1, h2 {
    margin-bottom: 30px;
    color: $light-blue;
    font: $header_font
  }

  ul {
    padding: 0px;

    li {
      margin-bottom: 20px;
      font-size: 24px;

      a:hover {
        color: $light-medium;
      }

      small {
        font-size: 14px;
        margin-top: -10px;
        padding-top: 0px;
        color: $light-medium;
      }

    }

    li:nth-last-of-type(1) {
      small {
        font-size: 16px;
      }
    }
  }

  a, a:active {
    color: $white;
  }

  a:hover {
    color: $light-blue;
  }

  img {
    max-width: 100%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  a, a:active {
    color: $white;
  }

  a:hover {
    color: $light-blue;
  }

}

