<ul class="links">
    <a href="http://au.linkedin.com/pub/john-sietsma/48/636/ab5/"><i class="fa fa-linkedin"></i></a>
    <a href="https://twitter.com/JohnSietsma"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/notoes/"><i class="fa fa-github"></i></a>
    <a href="http://steamcommunity.com/id/NoToes/"><i class="fa fa-steam"></i></a>
    <a href="mailto:john.sietsma@gmail.com"><i class="fa fa-envelope"></i></a>
    <a href="{{ 'feed.xml' | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
</ul>
